html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

a {
    color: #8bc34a;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

pre {
    white-space: pre;
}

pre :global(code) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

code {
    overflow: auto;
    display: block;
    padding: 16px;
    line-height: 1.5;
    background: #f3f3f3;
    font-family: Roboto, monospace, serif;
}