* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    font-family: Roboto, monospace, serif;
}

pre {
    white-space: pre;
}
pre :global(code) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

code {
    overflow: auto;
    display: block;
    padding: 16px;
    line-height: 1.5;
    background: #f3f3f3;
    font-family: Roboto, monospace, serif;
}

a {
    color: #8bc34a;
    text-decoration: none;
}